<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorate="~{/default/default.html}">
<head>
</head>

<body>
	<section layout:fragment="content-page">
		<div class="aw-layout-page">
			
			<section class="aw-layout-content  js-content">
				<div class="page-header">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-8">
								<h1>Cadastrar Cerveja</h1>
							</div>
	
							<div class="col-xs-4">
								<div class="aw-page-header-controls">
									<a class="btn btn-primary" th:href="@{list}"> <i
										class="fa fa-table"></i> <span class="hidden-xs hidden-sm">Listar
											Cervejas</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
	
				<div class="container-fluid">
	
					<form method="POST" class="form-vertical  js-form-loading"
						th:action="@{/beer/new}" th:object="${beer}">
						
						<div class="alert  alert-success" th:if="${!#strings.isEmpty(message)}">
							<i class="fa fa-check-circle"></i> 
							<span th:text="${message}">Mensagem sucesso!</span>
						</div>
		
						<div class="alert  alert-danger  alert-dismissible" role="alert" 
							th:if="${#fields.hasAnyErrors()}">
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
		
							<div th:each="error : ${#fields.detailedErros()}">
								<i class="fa fa-exclamation-circle"></i> 
								<span th:text="${error.message}" >Mensagem erro.</span>
							</div>
						</div>
						<div class="form-group">
							<label for="nome">Nome</label> 
							<input id="name" type="text" th:value="${beer.name}"
								class="form-control" th:field="*{name}" />
						</div>
	
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="tipo">Tipo</label> 
									<select id="tipo" th:field="*{type}"
										th:objec="${beersType}" class="form-control">
										<option value="">Selecione o tipo</option>
										<option th:each="type : ${beersType}"  
											th:value="${type.id}" th:text="${type.nameType}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="city">Cidade</label> 
									<select id="city" th:field="*{originCity}"
										th:objec="${cities}" class="form-control">
										<option value="">Selecione a cidade</option>
										<option th:each="city : ${cities}"  
											th:value="${city.id}" th:text="${city.name}"></option>
									</select>
								</div>
								
							</div>
							
							<div class="col-sm-6">
								<div class="form-group">
									<label for="valor">Valor</label> 
									<input id="valor" type="text" th:value="${beer.price}"
										class="form-control js-moeda" th:field="*{price}" />
								</div>
								<div class="form-group">
									<label for="abv">ABV</label> 
									<input id="abv" type="text" th:value="${beer.abv}"
										class="form-control" th:field="*{abv}" />
								</div>
							</div>
						</div>
	
						<div class="form-group">
							<button class="btn  btn-primary" type="submit">Salvar</button>
						</div>
					</form>
				</div>
			</section>
		</div>
	</section>

</body>
</html>
