<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Layout page</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/vendors.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/algaworks.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/beer/new-beer.css}" />
</head>
<body>

	<!-- Menu de Navegao Top da Página -->
	<header>
		<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference"
			id="main-navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand  hidden-xs" href="#"> 
						<img alt="WhatBeerULike" th:src="@{/layout/images/logo.png}"
							class="img-logo" />
					</a>
	
					<ul class="nav  navbar-nav">
						<li>
							<a href="#" class="js-sidebar-toggle"> 
								<i class="fa  fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	
	<!-- Menu lateral responsivo -->
	<div class="aw-layout-page">
		<aside class="aw-layout-sidebar  js-sidebar" layout:fragment="content-side-menu">
			<div class="aw-layout-sidebar__content">
	
				<nav class="aw-menu  js-menu">
					<ul class="aw-menu__list">
	
						<li class="aw-menu__item">
							<a href="#">
								<i class="aw-menu__navigation-icon  fa"></i>
								<span>Cadastros</span>
							</a>
							<ul class="aw-menu__list aw-menu__list--sublist">
								<li class="aw-menu__item  aw-menu__item--link">
									<a th:href="@{/beer/new}"> 
										<i class="fa  fa-fw  fa-beer"></i> 
										<span>Cerveja</span>
									</a>
								</li>
								<li class="aw-menu__item  aw-menu__item--link">
									<a th:href="@{/beer-type/new}"> 
										<i class="fa  fa-fw fa-tag"></i> 
										<span>Tipo de Cerveja</span>
									</a>
								</li>
								<li class="aw-menu__item  aw-menu__item--link">
									<a th:href="@{/beer-city/new}"> 
										<i class="fa  fa-fw  fa-map-marker"></i> 
										<span>Cidade de Origem</span>
									</a>
								</li>
							</ul>			
						</li>
						<li class="aw-menu__item">
							<a href="#"> 
								<i class="aw-menu__navigation-icon  fa"></i>
								<span>Listar</span>
							</a>
							<ul class="aw-menu__list aw-menu__list--sublist">
								<li class="aw-menu__item  aw-menu__item--link">
									<a th:href="@{/beer/list}"> 
										<i class="fa  fa-fw  fa-beer"></i> 
										<span>Cerveja</span>
									</a>
								</li>
								<li class="aw-menu__item  aw-menu__item--link">
									<a th:href="@{/beer-type/list}"> 
										<i class="fa  fa-fw fa-tag"></i> 
										<span>Tipo de Cerveja</span>
									</a>
								</li>
								<li class="aw-menu__item  aw-menu__item--link">
									<a th:href="@{/beer-city/list}"> 
										<i class="fa  fa-fw  fa-map-marker"></i> 
										<span>Cidade de Origem</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
	
			</div>
		</aside>
		
		<section layout:fragment="content-page"></section>
	</div>
	
	<!-- Modal de confirmação de Exclusão -->
	<div class="confirm-delete-modal">
		<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" 
			aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="confireDeleteModalLabel">Remover</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        Deseja realmente remover?
		      </div>
		      <div class="modal-footer">
		      	<form id="form-delete" method="POST" th:action="@{/beer/remove/}" >
		      		<input type="hidden" name="_method" value="DELETE" />
		        	<button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
		        	<button type="submit" class="btn btn-danger">Apagar</button>
		        </form>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	
	<footer class="aw-layout-footer  js-content">
		<div layout:fragment="custom-footer" class="container-fluid">
			<span class="aw-footer-disclaimer"
				th:text="'&copy;   '+ ${#dates.format(#dates.createNow(), 'yyyy')} + ' WhatBeerYouLike. Todos os direitos reservados.'">
			</span>
		</div>
	</footer>

	<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
	<script th:src="@{/layout/javascripts/algaworks.min.js}"></script>
	<script th:src="@{/javascripts/vendors/jquery.mask.min.js}"></script>
	<script th:src="@{/layout/javascripts/whatbeeryoulike.js}"></script>
	
	<script>
		jQuery('.js-moeda').mask("#.##0,00", {
			reverse : true
		});
	</script>
</body>
</html>