<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Layout page</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/vendors.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/algaworks.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/beer/new-beer.css}" />
</head>
<body>

	<header> </header>
	
	<section layout:fragment="content-menu">
		<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference"
			id="main-navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand  hidden-xs" href="#"> 
						<img alt="WhatBeerULike" th:src="@{/layout/images/logo.png}"
							class="img-logo" />
					</a>
	
					<ul class="nav  navbar-nav">
						<li>
							<a href="#" class="js-sidebar-toggle"> 
								<i class="fa  fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<aside class="aw-layout-sidebar  js-sidebar">
			<div class="aw-layout-sidebar__content">
	
				<nav class="aw-menu  js-menu">
					<ul class="aw-menu__list">
	
						<li class="aw-menu__item">
							<a th:href="@{new}"> 
								<i class="fa  fa-fw  fa-plus-square"></i> 
								<span>Cadastrar Cerveja</span>
							</a> 
							<a th:href="@{list}"> 
								<i class="fa  fa-fw  fa-table"></i> 
								<span>Listar Cervejas</span>
							</a>
						</li>
					</ul>
				</nav>
	
			</div>
		</aside>
	</section>
	
	<section layout:fragment="content-page"></section>
	
	<footer class="aw-layout-footer  js-content">
		<div layout:fragment="custom-footer" class="container-fluid">
			<span class="aw-footer-disclaimer"
				th:text="'&copy;   '+ ${#dates.format(#dates.createNow(), 'yyyy')} + ' WhatBeerYouLike. Todos os direitos reservados.'">
			</span>
		</div>
	</footer>

	<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
	<script th:src="@{/layout/javascripts/algaworks.min.js}"></script>
	<script th:src="@{/javascripts/vendors/jquery.mask.min.js}"></script>
	<script th:src="@{/layout/javascripts/beer/beer.js}"></script>
	
	<script>
		jQuery('.js-moeda').mask("#.##0,00", {
			reverse : true
		});
	</script>
</body>
</html>